@charset "UTF-8";

$bgcolor: #fafafa;

html{
    display: block;
    position: relative;
    width: 414px;
    height: 736px;
    overflow: hidden;
    font-size: 100px;
    padding: 0 20px;

    body{
        background-color: $bgcolor;
        width: 100%;
        height: 100%;
        margin: 0;
        app{
            display: block;
            background-color: $bgcolor;
            position: absolute;
            width: 100%;
            height: 100%;
            qapp{
                display: block;
                background-color: $bgcolor;
                position: absolute;
                width: calc(100% - 40px);
                height: 100%;
                border-radius: 3px;
                box-shadow: 0 0 2px #666;
            }
        }
    }
}
