{
    "compiler": "component",
    "name": "riot",
    "version": "2.3.3",
    "author": "jian.gong",
    "email": "jian.gong@qunar.com",
    "description":"Riot.js是一个客户端模型-视图-呈现(MVP)框架并且它非常轻量级甚至小于1kb.尽管他的大小令人难以置信，所有它能构建的有如下：一个模板引擎，路由，甚至是库和一个严格的并具有组织的MVP模式。当模型数据变化时视图也会自动更新。",
    "repository":"git@gitlab.corp.qunar.com:jian.gong/riot.git",
    "dependencies": {},
    "alias": {},
    "main": "src/riot.js",
    "export": [
        "riot.js"
    ]
}
